*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  color: #3b4b54;
  font-size: 100%;
}
h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}
h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.125em;
}
h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
}
h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.875em;
}
h5 {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 0.75em;
}
.fineprint {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.625em;
}
.button-text-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.875em;
}
.button-text-bold {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 0.875em;
}
.text-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
}
.text-normal {
  font-family: "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400;
  font-stretch: normal;
  font-size: 0.75em;
}

a,
a:hover {
  text-decoration: underline;
}
table {
  width: 800px;
}
table tbody tr:nth-child(even) {
  background-color: rgba(227, 238, 246, 0.5);
}
table thead {
  border-bottom: 1px solid black;
}
table th {
  text-align: left;
  padding: 8px;
}
table th h5 {
  color: #3b4b54;
  margin: 0px;
}
table td {
  padding: 8px;
}
table tbody {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
}
table tfoot {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  color: #00b299;
  font-weight: bold;
}
.btn {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 0.875em;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn-primary {
  color: #dfe6eb;
  background-color: #00b299;
}
.btn-secondary {
  color: #3b4b54;
  background-color: #dfe6eb;
}
.btn-tertiary {
  color: #dfe6eb;
  background-color: #00849e;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  cursor: pointer;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.radio-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
  margin: 0px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}
.styled-select select {
  background: transparent;
  width: 200px;
  padding: 8px;
  border: 0;
  -webkit-appearance: none;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  outline: none;
}
.styled-select {
  width: 200px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #94a3ab;
  position: relative;
}
.styled-select:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #00aed1;
  width: 30px;
  height: 30px;
  z-index: -100;
}
.onoffswitch {
  position: relative;
  width: 103px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 0.875em;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 29px;
  font-size: 14px;
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 15px;
  background-color: #00b299;
  color: #dfe6eb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 13px;
  background-color: #94a3ab;
  color: #dfe6eb;
  text-align: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.onoffswitch-switch {
  width: 50px;
  margin: 0px;
  background: #e3eef6;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 53px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
form label {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  font-size: 0.75em;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
.form-group {
  margin-bottom: 15px;
}
.form-horizontal .form-group label {
  text-align: right;
  width: 16.666666666666664%;
}
.form-horizontal .form-group .form-control {
  display: inline;
  margin-left: 10px;
  width: 50%;
}
.form-control[type="text"],
.form-control[type='password'] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-control {
  display: block;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #94a3ab;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input,
textarea {
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  outline: none;
}
.form-search {
  position: relative;
}
.form-search input {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #94a3ab;
  position: relative;
  padding-left: 10px;
  width: 100%;
}
.form-search:after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 3px;
  width: 15px;
  height: 15px;
  background-color: #94a3ab;
}
.nav-group {
  width: 960px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-group .container {
  padding: 15px;
}
.nav-group nav ul {
  width: 100%;
  border-bottom: 1px solid #dfe6eb;
}
.nav-group nav ul li {
  display: inline-block;
  background-color: #ffffff;
  border-right: 1px solid #dfe6eb;
  margin: 0;
  padding: 15px 25px 15px 25px;
  margin-left: -4px;
}
.nav-group nav ul li.selected {
  background-color: #00b299;
  color: #dfe6eb;
}
.nav-group nav ul li:hover {
  background-color: #00b299;
  color: #dfe6eb;
  cursor: pointer;
}
.nav-group nav ul li:first-child {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  margin-left: 0px;
}
code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.75em;
  color: #00b299;
  background-color: #00849e;
}
code span.prompt {
  color: #dfe6eb;
}
code span.system {
  color: #94a3ab;
}
pre {
  background-color: #00849e;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > label:not(:first-child):not(:last-child) span {
  border-radius: 0;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > label:first-child span {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.btn-group > label:last-child span {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.btn-group label input[type=radio] {
  display: none;
}
.btn-group label span {
  color: #3b4b54;
  background-color: #dfe6eb;
  margin-left: -4px;
}
.btn-group label:first-child {
  margin-left: 0px;
}
input:checked + span {
  color: #dfe6eb;
  background-color: #00b299;
}
