@import url("serviceSpec.css");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F1F1F1;
}

h1 {
	text-align: center;
}

.btn {
	width: 150px;
	font-size: 0.9em;
	font-weight: bold;
}

.form-group label {
	width: 10% !important;
}

.form-group input {
	width: 80% !important;
}

.container {
	background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    width: 560px;
    margin: 0 auto;
}

.messageInfo {
	padding: 0px 20px;
	height: 20px;
	color: red;
}

.buttonContainer {
	padding: 5px 20px;
}

.status, .near-message {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1.7em;
    text-align: center;
    font-style: italic;
}

.fbinfobox {
  border-radius: 4px;
  color: #3b4b54;
  background-color: #dfe6eb;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding: 13px;
  margin-top: 5px;
  vertical-align: top;

}

.steps {
    font-family: "Georgia", "Times New Roman",serif;
    font-weight: bold;
    font-size: 2.4em;
    font-style: italic;
    color: black;
    width: 50%;
}

.fbdetail {
  color: #6b7b84;
  background-color: #dfe6eb;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: .950em;
  vertical-align: top;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    height: 29px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
    color: #727272;
    font-size: 1.2em;
}

.select-style select:focus {
    outline: none;
}

.infomsg {
  border-radius: 4px;
  color: #3b4b54;
  background-color: #dfe6eb;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  padding: 10px;
  margin-top: 25px;
}

.location-info {
  border-radius: 4px;
  color: #3b4b54;
  background-color: #ede7e1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  padding: 10px;
  margin-top: 15px;
}

.near-info {
  border-radius: 4px;
  color: #dfe6eb;
  background-color: #474747;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.875em;
  padding: 10px;
  margin-top: 15px;
  display: none;
}

.flight-results {
  display: none;
}

table.searchResults {
  width: 100%;
  font-size: 1.4em;
}

td.placeName {
  vertical-align: top;
}

a.mapLink {
  color: #6d6dbd;
  font-weight: bold;
}

div.no-results {
  font-weight: 300;
  font-size: 1.3em;
  color: #a7b0b6;
  text-align: center;
  font-style: italic;
  padding-top: 10px;
}

span.placeName a.mapLink {
  font-weight: 300;
  color: #6d6dbd;
  font-size: .9em;
}

span .status {
  font-weight: 600;
  font-size: 0.685em;
  color: #594b3f;
}

table.near-search {
  width: 100%;
}

td.travel-time {
  text-align: right;
  font-weight: 600;
  font-size: 1.7em;
}

.btn-nearby {
  color: #dfe6eb;
  background-color: #8b897a;
  font-size: 1.275em;
  /* height: 100%; */
}

.throbber-div {
  display: none;
  height: 48px;
  position: relative;
}

img.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    display: block;
}

.errorinfo {
  color: #949494;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .5em;
  font-style: normal;
  text-align: left;
  padding: 8px;
  margin-top: 10px;
}
